@import 'scss/variables';

.list {
  display: flex;
  justify-content: space-between;
  margin: $vertical_margin 0rem;
}
.header {
  display: flex;
  padding-left: 2rem;
  align-items: center;
  border-radius: 1rem;
  background: $second_gradient;
  height: 5rem;
  margin-top: $vertical_margin;
  margin-bottom: $vertical_margin;
  color: #fff;
  svg {
    color: red;
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

.info {
  display: flex;
  border-radius: 1rem;
  padding: 2rem 2rem;
  background: $default_gradient;
  width: 100%;
  .imageWrapper {
    width: 30%;
    img {
      height: auto;
      width: 100%;
      border-radius: 1rem;
    }
  }
  .detailsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }
}

.infoList {
  display: flex;
  margin-left: 2rem;
  margin-bottom: $vertical_margin;
  div.title {
    h2 {
      color: $titles_color;
      width: 7rem;
    }
  }
  div.infoValue {
    margin-left: 2rem;
    h2 {
      color: $value_color;
      word-break: break-all;
    }
  }
}

.repositories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .repoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background: $default_gradient;
    width: 48%;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
      h2 {
        margin-left: 1rem;
        color: $value_color;
        word-break: break-all;
        &.link {
          cursor: pointer;
        }
      }
      .iconWrapper {
        width: 2rem;
        svg {
          color: red;
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (max-width: 601px) {
  .info {
    .imageWrapper {
      width: 40%;
      img {
        height: auto;
        width: 100%;
        border-radius: 1rem;
        min-height: 5rem;
        min-width: 5rem;
      }
    }
    .detailsWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
