@import 'scss/variables';

.form {
  margin-top: $vertical_margin;
  position: relative;
  input {
    background: $default_gradient;
    font-size: 1.5rem;
    color: $white_color;
    padding: 1rem 3rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    width: 100%;
  }
  div {
    svg {
      cursor: pointer;
    }
    .searchIcon {
      svg {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(100%, -50%);
        color: $white_color;
      }
    }
    .historyIcon {
      svg {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(100%, -50%);
        color: $white_color;
      }
    }
  }
}
