@import 'scss/variables';

.header {
  display: flex;
  padding-left: 2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background: $second_gradient;
  height: 5rem;
  margin-top: $vertical_margin;
  margin-bottom: $vertical_margin;
  color: #fff;
  svg {
    color: $white_color;
    font-size: 1.5rem;
    margin-right: 2rem;
  }
  .left {
    display: flex;
    align-items: center;
    svg {
      color: $main_color;
      margin-right: 0.5rem;
    }
  }
}
