@import 'scss/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  border-radius: 1rem;
  background: $default_gradient;
  margin-top: $vertical_margin;
  color: #fff;
  svg {
    color: red;
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .lists {
    margin-left: 1rem;
    li {
      cursor: pointer;
      &:not(:last-child) {
        padding-bottom: 1rem;
      }
    }
  }
  button {
    width: 9rem;
    height: 3rem;
    margin-top: 2.5rem;
    border-radius: 0.5rem;
  }
}
.search {
  svg {
    cursor: pointer;
  }
}
